// Base Class Definition
// -------------------------

.{$fa-css-prefix}
  display inline-block
  font-family FontAwesome
  font-style normal
  font-weight normal
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  transform translate(0, 0) // ensures no half-pixel rendering in firefox
