// Set font path
$fa-font-path = "http://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"

// Import font-awwsome-stylus
@import "font-awesome-stylus"

body
  color black
h1
  font-size 18px

// Including icon using mixin  
.my-icon
  fa(user)
