// $fa-font-path ?= "../fonts"
$fa-font-path ?= "http://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" // for referencing Bootstrap CDN font files directly

@import "../../stylus/index"

.fa
  font-size 100px

.my-icon
  fa(user)
  font-size 100px
