// Set font path

// $fa-font-path = "~font-awesome-stylus/fonts"
$fa-font-path = "../../fonts"

// Import font-awesome-stylus

// @import "~font-awesome-stylus/index"
@import "../../index"

body
  color black
  
h1
  font-size 18px
  
// Including icon using mixin  
.my-icon
  fa(user)
